.down {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.down-dark {
  background-color: rgb(17, 17, 28) !important;
}

.react-resizable-handle-se {
  bottom: 0px !important;
  margin-bottom: -8px !important;
  margin-right: -8px !important;
}

.simple-keyboard.myTheme1 {
  background-color: rgba(24, 20, 39, 0.2) !important;
  border-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.simple-keyboard.myTheme1 .hg-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
  color: white;
  border-bottom-color: rgba(0, 0, 0, 1);
}

.recharts-default-tooltip {
  border-radius: 5%;
}

.chakra-ui-dark .recharts-default-tooltip {
  background-color: #1a202c !important;

  border: 1px solid #2d3748 !important;
}

.chakra-ui-dark .react-calendar-heatmap .color-empty {
  fill: #2d3748 !important;
}

.react-calendar-heatmap .color-scale-1 {
  fill: #bee3f8;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #90cdf4;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #63b3ed;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #4299e1;
}

.react-calendar-heatmap .color-scale-5 {
  fill: #3182ce;
}
.react-calendar-heatmap .color-scale-6 {
  fill: #2b6cb0;
}
.react-calendar-heatmap .color-scale-7 {
  fill: #2c5282;
}

.react-calendar-heatmap .color-scale-8 {
  fill: #2a4365;
}
.react-calendar-heatmap .color-scale-9 {
  fill: #1a365d;
}
