.down {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.down-dark {
  background-color: rgb(19, 19, 56) !important;
}

.react-resizable-handle-se {
  bottom: 0px !important;
  margin-bottom: -8px !important;
  margin-right: -8px !important;
}

.simple-keyboard.myTheme1 {
  background-color: rgba(24, 20, 39, 0.2) !important;
  border-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.simple-keyboard.myTheme1 .hg-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
  color: white;
  border-bottom-color: rgba(0, 0, 0, 1);
}
